/* External Style Sheet for Shreeya Shrestha Portfolio*/
body
{
	background-image: linear-gradient(#003862,#123854);
	color: #FFFFFF;
	font-family: "Arial";
}

ul
{
	list-style-type: none;
}
#navbar
{
	background-color: #003862;
	position: fixed;
	top: 5;
	width: 100%;
	transition: top 0.3s;
}

#navbar a
{
	float: left;
	display : block;
	color: white;
	text-align: center;
	padding: 5px, 50px, 5px;
}

#navbar a:hover 
{
	color: #4682B4;
}

#main
{
	background-color: #EAF5F7;
	position: center;
	padding: 20px,10px,5px;

}

